{%extends 'base.html'%}
{%block body_block%}
<div class="container mt-5">
    <div class="row">
        <div class="col-4"></div>
         <div class="col-4 text-warning">
             <h2>Task Name : {{todo.task_name}}</h2>
             {% if todo.status %}
                <h3>Status :  Completed</h3>
             {%else%}
                <h3>Status :  Incompleted</h3>
             {%endif%}

             <h3>Create Date : {{todo.date}}</h3>
         </div>
         <div class="col-4"></div>
    </div>
</div>
{%endblock%}